services:
    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        ports:
            - "8000:80"
        env_file:
            - ../../../.env
        volumes:
            - ./data:/app/data
            - ./knowledge_base:/app/knowledge_base
        image: resuchat-d8dge0g6c8aqeagx.azurecr.io/resuchat-backend:latest

    frontend:
        build:
            context: .
            dockerfile: frontend/Dockerfile
        ports:
            - "8501:8501"
        depends_on:
            - backend
        environment:
            # - API_URL=http://backend
            - API_URL=https://resuchat-backend.livelysmoke-9d49bf03.swedencentral.azurecontainerapps.io
        image: resuchat-d8dge0g6c8aqeagx.azurecr.io/resuchat-frontend:latest
